/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2018, 12:10:50 AM
    Author     : Phan Hieu
*/

.mcard{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
}

body.search{
    background-color: #e2e1e0;
}
.logo-container {
    margin: 150px auto 20px;
}
body.search .logo-container {
    margin-top: 10px;
}
.logo {
    margin: auto;
    display: block;
}
.search-form {
    margin: auto;
}

.my-container{
    margin: 10px 0;
}
.my-container>.row{
    margin-left: 0;
    margin-right: 0;
}
.my-container .filter {
    padding: 10px;
}

.my-container .filter .rating {
    cursor: pointer;
}

.my-container .filter .form-group.row{
    margin-left: 0;
    margin-right: 0;
}
.my-container .filter .form-group.row>div{
    padding: 0 5px 0 0;
}

.order .mcard{
    overflow: hidden;
    padding: 3px 8px 1px;
}

.order .mcard .num_result{
    line-height: 40px;
    display: inline-block;
}

.order .mcard .form-group{
    float: right;
    margin: 0;
}
.order .mcard .form-group select{
    display: inline-block;
    width: auto;
}

.product-container {
    overflow: hidden;
    margin: 0 -10px;
}
.product-container .box-product {
    float: left;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}
.product-container .box-product>a{
    display: block;
    text-decoration: none;
    color: inherit;
}
.product-container .box-product .product-image img{
    width: 100%;
    height: calc(15vw - 30px);
}
.product-container .box-product .product-detail {
    padding: 10px;
}
.product-container .box-product .product-detail .product-name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-container .box-product .product-detail .product-price {
    color: #f57224;
    font-size: 18px;
}

.rating .rating-content {
    position: relative;
    white-space: nowrap;
    font-size: 11px;
    color: #b8b8b8;
}

.rating .rating-content span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    color: #ffc120;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
    .product-container .box-product {
        width: 50% !important;
    }
    .product-container .box-product .product-image img{
        height: calc(50vw - 30px) !important;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 991.98px) {
    .product-container .box-product {
        width: 25%;
    }
    .product-container .box-product .product-image img{
        height: calc(25vw - 30px);
    }
}